<div class="well col-md-6 col-md-offset-3 main-box">
    <h1>Subhajit's Sweet Home!</h1>
    It is <%= @weather_lookup.temperature %> degrees in Los Angeles, CA
    <%= image_tag @weather_lookup.icon %>
</div>